.container{
    display: flex;
    flex-flow: row wrap;
}


.imageHolder{
    /* display: flex; */
    background-color: aqua;
    width: 300px;
    /* justify-content: center;
    align-items: center; */
    height: 300px;
}


.filledwithimage{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 290px;

}

.hidden{

    display: none;
}

.buttons{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.editButtons{
    margin-top: 3%;
    color: #FFF738;
    background-color: #40CCCF;
}